{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Suppression</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Confirmation de Suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimer cette candidature ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a href="{% url 'candidatureoffre_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>

</body>
</html>
